@use '../../common/sass/_sfx' as sfx
@use '../../common/sass/_colors' as color
@use '../../common/sass/_mediaQueries' as *


.game-container
  margin: 3rem auto
  padding: 2rem
  max-width: 30rem
  border-radius: 5px
  display: flex
  flex-direction: column
  box-shadow: sfx.$shadow
  background-color: color.$white

  @include media(mobile)
    padding: 0.5rem
    max-width: 85%

  input
    height: 2.5rem
    font-size: 2rem
    text-align: center

  input::-webkit-input-placeholder
    color: color.$place-holder
    font-size: 18px
  
  .hidden
    visibility: hidden

  section
    display: inherit
    flex-direction: column
    padding: 0.2rem 6rem
    min-width: 60%
    @include media(mobile)
      padding: 0.2rem 3rem
    button
      margin: 0.5rem 0rem  
    legend
      text-align: center
      margin-top: 0.5rem
      @include media(mobile)
        margin-top:0rem
    

  footer
    display: flex
    justify-content: space-between
    margin-top: 1.5rem
